<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Room Status</title>
    <meta http-equiv="refresh" content="600">
    <meta name="description" content="Room temperature and humidity">
    <meta name="author" content="Tim Andre Jacobsen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="eleven columns">

          <form action="/www/sensor_app/templates/room_status.html" id="range_select" method="GET"></form>
          <div class="one column">
            <input type="radio" name="range_h" id="radio_3"/>
            <label for="radio_3">3hr</label>
          </div>
          <div class="one column">
            <input type="radio" name="range_h" id="radio_6">
            <label for="radio_6">6hr</label>            
           </div>
          <div class="one column">
            <input type="radio" name="range_h" id="radio_12">
            <label for="radio_12">12hr</label>
          </div>
          <div class="one column">
            <input type="radio" name="range_h" id="radio_24">
            <label for="radio_24">24hr</label>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="one-third column" style="margin-top: 5%">
          <strong>Showing all records</strong>

          <h2>Temperature</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>&deg;C</th>
                </tr>
              </thead>
              <tbody>
                {% for row in temp %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  

            <h2>Humidity</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
                {% for row in hum %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{'%0.2f'|format(row[2])}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>  

        </div>
    </div>

  </body>
</html>