<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="../static/css/room_data.css" />
    <title>Live data feed</title>
  </head>

  <body>
    <h2 class="title">Live Feed</h2>
    <div class="readings-container">
      <div class="readings">
        Temperature:
        <strong>{{ "{0:0.1f}".format(temp) }}* </strong>
      </div>
      <div class="readings">
        Humidity:
        <strong>{{ "{0:0.1f}".format(humidity) }}% </strong>
      </div>
      <div class="button-container">
        <a href="/status">
          <div class="historic-btn">Historic data</div>
        </a>
      </div>
    </div>

    <div class="video-feed">
      <img src="{{ url_for('video_feed') }}" width="100%" />
    </div>

    <div id="chart_temps" class="chart_temps"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['line']});
  google.charts.setOnLoadCallback(drawTempChart);

  function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addRows([
      {% for row in temp_humid_data %}
        [new Date({{row[0][0:4]}}, ( {{row[0][5:7]}} -1), {{row[0][8:10]}}, {{row[0][11:13]}}, {{row[0][14:16]}}),
        {{'%0.2f'|format(row[1])}}],
      {% endfor %}
    ]);
    var options = {
      chart: {
        title: 'Temperatures',
        subtitle: 'in degrees'
      },
      colors: ['red'],
      backgroundColor: '#222222',
      curveType: 'function',
      width: 900,
      height: 500
    };
    var chart = new google.charts.Line(document.getElementById('chart_temps'));
    chart.draw(data, google.charts.Line.convertOptions(options));
  }

</script>
  </body>
</html>
