<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="../static/css/skeleton.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    
    <title>Room sensor data</title>
</head>

<body>

    <div class="container">
        <h2>Live Status</h2>
        <div class="row">
            <p>
                Temperature is: <strong>{{ "{0:0.1f}".format(temp) }}* </strong>
                Humidity is: <strong>{{ "{0:0.1f}".format(humidity) }}% </strong>
            </p>
            <form method="get" action="/status">
                <button type="submit">View Status</button>
            </form>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <img src="{{ url_for('video_feed') }}" width="50%">
            </div>
        </div>

    
</body>
</html>