<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Room Status</title>
    <meta http-equiv="refresh" content="600">
    <meta name="description" content="Room temperature and humidity">
    <meta name="author" content="Tim Andre Jacobsen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/room_status.js" async></script>
  </head>

  <body>
    <div class="container">
      <h2>Select data range</h2>
      <div class="row">
          <form id="datetime_range" action="/status" method="GET" autocomplete="off"> 
              <div class="three columns">
                <label for="from">From date</label>
                <input class="u-full-width" id="datetimepicker_from" type="text" value="{{from_date}}" name="from">
              </div>        
              <div class="three columns">
                <label for="to">To date</label>           
                <input class="u-full-width" id="datetimepicker_to" type="text" value="{{to_date}}" name="to">
              </div>           
              <div class="two columns">           
                <input class="button-primary" type="submit" value="Submit" style="position:relative; top: 28px" id="submit_button" />
              </div>        
          </form> 
      </div>

      <div class="row">
        <div class="six columns">

            <strong>Quick Select</strong>
            <form action="/status" id="range_select" name="range_select" method="GET">
              <div class="one column quick-select-spacing">
                <input type="radio" name="range_h" value="12" id="radio_12"/>
                <label for="radio_12">12hr</label>
              </div>
              <div class="one column quick-select-spacing">
                <input type="radio" name="range_h" value="24" id="radio_24">
                <label for="radio_24">24hr</label>            
              </div>
              <div class="one column quick-select-spacing">
                <input type="radio" name="range_h" value="72" id="radio_72">
                <label for="radio_72">3days</label>
              </div>
              <div class="one column quick-select-spacing">
                <input type="radio" name="range_h" value="168" id="radio_168">
                <label for="radio_168">week</label>
              </div>
            </form>
        </div>

        <div class="three columns">
            <form method="get" action="/current" class="live-feed-btn">
              <button type="submit">View Live Data</button>
            </form>
        </div>
      </div>
        
    </div>

    <div class="container">
      <div class="row">
        <!-- Google Charts -->
        <div class="two-thirds column" style="margin-top: 5%">
          <div class="row">                  
            <div class="row">
              <div class="three columns">
                <div id="chart_temp_humid"></div>
                <div id="chart_temps"></div>
                <div id="chart_humid"></div>
              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['line']});
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawTempChart);
  google.charts.setOnLoadCallback(drawHumiChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addColumn('number', 'Humidity');
    data.addRows([
      {% for row in temp_humid_data %}
        [new Date({{row[0][0:4]}}, ( {{row[0][5:7]}} -1), {{row[0][8:10]}}, {{row[0][11:13]}}, {{row[0][14:16]}}),
        {{'%0.2f'|format(row[1])}},
        {{'%0.2f'|format(row[2])}}],
      {% endfor %}
    ]);
    var options = {
      chart: {
        title: 'Temperatures and Humidities',
        subtitle: 'Temperature in degrees and humidity in percent'
      },
      colors: ['red', 'green'],
      curveType: 'function',
      width: 900,
      height: 500
    };
    var chart = new google.charts.Line(document.getElementById('chart_temp_humid'));
    chart.draw(data, google.charts.Line.convertOptions(options));
  }

  function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Temperature');
    data.addRows([
      {% for row in temp_humid_data %}
        [new Date({{row[0][0:4]}}, ( {{row[0][5:7]}} -1), {{row[0][8:10]}}, {{row[0][11:13]}}, {{row[0][14:16]}}),
        {{'%0.2f'|format(row[1])}}],
      {% endfor %}
    ]);
    var options = {
      chart: {
        title: 'Temperatures',
        subtitle: 'in degrees'
      },
      colors: ['red'],
      curveType: 'function',
      width: 900,
      height: 500
    };
    var chart = new google.charts.Line(document.getElementById('chart_temps'));
    chart.draw(data, google.charts.Line.convertOptions(options));
  }

  function drawHumiChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Humidity');
    data.addRows([
      {% for row in temp_humid_data %}
        [new Date({{row[0][0:4]}}, ( {{row[0][5:7]}} -1), {{row[0][8:10]}}, {{row[0][11:13]}}, {{row[0][14:16]}}),
        {{'%0.2f'|format(row[2])}}],
      {% endfor %}
    ]);
    var options = {
      chart: {
        title: 'Humidity',
        subtitle: '%'
      },
      curveType: 'function',
      colors: ['green'],
      width: 900,
      height: 500
    };
    var chart = new google.charts.Line(document.getElementById('chart_humid'));
    chart.draw(data, google.charts.Line.convertOptions(options));
  }
</script>

<link rel="stylesheet" type="text/css" href="../static/css/jquery.datetimepicker.css">
<script src="../static/js/jquery.datetimepicker.full.min.js"></script>
<script src="../static/js/jQuery_setPassive.js"></script>
<script>
  jQuery('#datetimepicker_from').datetimepicker(
    {
      format:'Y-m-d H:i',
      defaultDate:'{{from_date}}'
    });
  jQuery('#datetimepicker_to').datetimepicker({
      format:'Y-m-d H:i',
      defaultDate:'{{to_date}}'
    });
</script>

  </body>
</html>