<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="../static/css/room_data.css" />
    <title>Live data feed</title>
  </head>

  <body>
    <h2 class="title">Live Feed</h2>
    <div class="readings-container">
      <div class="readings">
        Temperature:
        <strong>{{ "{0:0.1f}".format(temp) }}* </strong>
      </div>
      <div class="readings">
        Humidity:
        <strong>{{ "{0:0.1f}".format(humidity) }}% </strong>
      </div>
    </div>

    <div class="video-feed">
      <img src="{{ url_for('video_feed') }}" width="100%" />
    </div>

    <div class="button-container">
      <form method="get" action="/status">
        <button class="historic-btn" type="submit">Historic data</button>
      </form>
    </div>
  </body>
</html>
