[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/var/www/sensor_app/bin/uwsgi --ini /var/www/sensor_app/sensor_app_uwsgi.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=stslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target