body {
  background-color: #222222;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.title {
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}

.readings-container {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-content: center;
  min-width: 500px;
}

.readings {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 200px;
  height: 28px;
  padding: 5px;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-color: #555;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.reading-value {
  font-size: 25px;
  font-weight: 600;
}

.button-container {
  width: auto;
  height: auto;
  margin: 10px;
}

.historic-btn {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #555;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.historic-btn:hover {
  background-color: rgb(65, 65, 65);
}

.video-feed {
  width: 100vh;
  height: auto;
  border: 1px solid #bbb;
}

.chart_temps {
  padding: 10px;
  margin: 10px;
}
